<div class="container">
  <div class="stepper">
    <mat-horizontal-stepper [linear]="true">
      <mat-step label="Cart Details">
        <app-cart-details></app-cart-details>
      </mat-step>
      <mat-step label="Shipping Details">
        <app-shipping-details></app-shipping-details>
      </mat-step>
      <mat-step label="Payment Details">
        <app-payment></app-payment>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="summary">
    <app-summary></app-summary>
  </div>
</div>
