<div class="container">
  <form class="example-form" [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="emailFormControl"
        placeholder="Ex. priyanshu@example.com"
      />
      <mat-error
        *ngIf="
          shippingForm['controls']['emailFormControl'].hasError('email') &&
          !shippingForm['controls']['emailFormControl'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error
        *ngIf="
          shippingForm['controls']['emailFormControl'].hasError('required')
        "
      >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <form class="example-form" [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstNameControl" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> Last Name</mat-label>
            <input matInput formControlName="lastNameControl" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea
          matInput
          placeholder="Address"
          formControlName="addressControl"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City</mat-label>
            <input
              matInput
              placeholder="Ex. Bathinda"
              formControlName="cityControl"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State</mat-label>
            <input
              matInput
              placeholder="Ex. Punjab"
              formControlName="stateControl"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              #postalCode
              minlength="6"
              maxlength="6"
              placeholder="Ex. 151001"
              value=""
              formControlName="postalControl"
            />
            <mat-hint align="end">{{ postalCode.value.length }} / 6</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="stepperBtn">
      <button mat-raised-button matStepperNext *ngIf="shippingForm.valid">
        Next
      </button>
      <button mat-raised-button matStepperPrevious>Back</button>
    </div>
  </form>
</div>
