<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar><h3>Menu</h3></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">Home</a>
      <a mat-list-item [routerLink]="['/about']">About</a>
      <a mat-list-item>Shop</a>
      <a mat-list-item [routerLink]="['/help']">Help</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> <h1>shoppieee</h1></span>
      <span class="spacer"></span>
      <a class="nav-list" [routerLink]="['/home']">Home</a>
      <a class="nav-list" [routerLink]="['/about']">About</a>
      <a class="nav-list">Shop</a>
      <a class="nav-list" [routerLink]="['/help']">Help</a>
      <a
        mat-raised-button
        matBadge="{{ count }}"
        matBadgePosition="after"
        matBadgeColor="accent"
        [routerLink]="['/cart']"
        [routerLinkActive]="['cartStyle']"
      >
        <span><i class="fa fa-shopping-cart fa-1x"></i></span>
        <span>Cart</span>
      </a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
