.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  h1 {
    font-family: var(--nav-text);
    font-weight: bolder;
  }
  a {
    display: inline-block;
    margin: 0 0.8rem;
    color: var(--white);
    text-decoration: none;
    font-family: var(--nav-text);
  }
}

@media (min-width: 599px) {
  .sidenav {
    display: none;
  }
  mat-toolbar {
    button {
      display: none;
    }
  }
}
@media (max-width: 598px) {
  mat-toolbar {
    justify-content: space-around;
    h1 {
      text-align: center;
    }
    .nav-list {
      display: none;
    }
    .spacer {
      display: none;
    }
  }
}
