@import "styles/variables";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
